/* Posts Page CSS */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

main {
  display: grid;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

body {
  background-image: url(../images/hero@75.b2469a49.jpg);
  background-size: 100rem;
  background-repeat: repeat-y;
  background-color: #f9fafc;
}

#posts {
  width: 768px;
  background-color: white;
}

.post {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  padding-block: 1rem;
  border: 0.03rem solid #ededed;
}
.post:hover {
  background-color: #f5f5f5;
}

.post p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-header {
  display: flex;
  justify-content: space-between;
}
.post-footer {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 24px;
}

.heart {
  fill: none;
}

.heart.active {
  fill: #737373;
}

.card {
  background-color: #f5f5f5;
  padding-inline: 2rem;
  padding-block: 1rem;
}

#menu,
#aside div.card {
  display: none;
}

@media only screen and (min-width: 768px) {
  #menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 16rem;
    list-style: none;
    height: 100vh;
  }

  #menu li {
    margin-bottom: 1.4rem;
  }

  #menu a {
    text-decoration: none;
    color: #404040;
    font-size: 1.2rem;
  }

  #aside div.card {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
  }
}
